.main-sec-inner{
   width: 92%;
   margin-top: 40px;
   margin-left: 4.2%;
}
.main-sec-inner{
    display: flex;
}
.main-sec-col1{
    width: 28%;
}
.main-sec-col2{
    width: 28%;
}
.main-sec-col3{
    width: 21%;
}
.main-sec-col4{
    width: 22.5%;
}
.main-sec-col4-add img{
    width: 100%;
    margin: 10px 0px;
}
.main-sec-col4-add{
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}
.main-sec-col4-add span{
    color: #878484;
}
.main-sec-col4-t20-space img {
    padding-top: 50px;
    padding-left: 15px;
    height: 250px;
    width: 100%;
    text-align: center;
}



/* RESPONSIVE MEDIA QUERY  */

@media screen and (max-width: 800px) {
    .main-sec-inner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .main-sec-col1,.main-sec-col2,.main-sec-col3,.main-sec-col4{
        width: 100%;
    }
    .main-sec-col4-t20-space img {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .main-sec-col4-add {
        margin-top: 40px;
    }
    .main-sec-col4-video-carousal .shortsswiper {
        margin-top: 20px;
        padding:10px 0px;
    }

}