.manoranjan-section-outer{
    height: 500px;
    max-width: 100%;
    width: 92%;
    margin-left: 4%;

}
.manoranjan-col1{
    height: 450px;
    max-height: 500px;
    max-width: 31%;
}
.manoranjan-col1-row1 img{
    width: 400px;
    height: auto;
    position: relative;
}
/* .manoranjan-col1-row1 p{
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 10;
    color: #ffffff;
} */
.manoranjan-section{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.manoranjan-col1-row2 ,.manoranjan-col2-row2 ,.manoranjan-col2-row3 ,.manoranjan-col3-row2 ,.manoranjan-col3-row3{
    margin-top: 30px;
    border-bottom:1px solid grey;
}
.manoranjan-col2-row1 ,.manoranjan-col3-row1 {
    border-bottom:1px solid grey;
}
.manoranjan-col1-row2{
    display: flex;
    margin-top: 10px;
    column-gap: 10px;
}
.manoranjan-col1-row2 img{
    height: 100px;
    width: 200px;
}